<% provide(:title, 'AwesHome')%>
<!DOCTYPE html>
<head>
	<title><%= full_title(yield(:title)) %></title>
</head>

<body>
	<h1>This is a sample app I'm creating with Rails</h1>
<p>Find me at <a href=" http://railstutorial.org">Ruby on Rails tutorial</a></p> 
</body>
</html>

