<!--  _unfollow.html.erb -->
<%= form_for(current_user.relationships.find_by_followed_id(@user.id), html: {method: delete}) do |f| %>
<div><%= f.hidden_field :followed_id %></div>
<%= f.submit "Unfollow #{@user.name}", class: "btn btn-large" %>
<% end %>

