<tr>
    <td><%= gravatar_for user %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td>
        <div class="btn-toolbar">
            <div class="btn-group">
                <a class="btn btn-mini" href="#"><i class="icon-pencil"></i></a>
            </div>
        </div>
        <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "delete", user, method: :delete, data: { confirm: "You sure you want to remove #{user.name}?" } %>
        
        <% end %>
    </td>

</tr>
