<% provide(:title, 'All Users') %>
<h1>Listing users</h1>

<%= will_paginate %>
<table class="table table-striped users">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Email</th>
    
    <th></th>
    
  </tr>

  <% @users.each do |user| %>
  <%= render user %>
  <% end %>
</table>
<%= will_paginate %>
<br/>
