<%= form_for(@micropost) do |f| %>
<%= render 'shared/error_messages' , object: f.object %>
<div class="micropost-textbox">
	<%= f.text_area :content, placeholder: 'Compose new text...'%>
	<span id="char-counter"></span>
</div>
<%= f.submit "Post", class: 'btn btn-primary btn-large' %>

<% end %> 