@import "bootstrap";



/************* $VARIABLES */
$grayMediumLight: #eaeaea;
$veryLightGray: #f7f7f7;

/************* $mixins */
@mixin box_sizing{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin drop-shadow($left,$down, $blur) {
	-webkit-box-shadow:$left $down $blur rgba(0, 0, 0, 0.3);
	-moz-box-shadow:$left $down $blur rgba(0, 0, 0, 0.3);
	box-shadow:$left $down $blur rgba(0, 0, 0, 0.3);	
}

@mixin rotate($degrees) {
	-moz-transform: rotate($degrees);  
	-o-transform: rotate($degrees);  
	-webkit-transform: rotate($degrees);
	filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
	zoom: 1;
}


.drop-shadow {
	position:relative;
	width:90%;
	@include drop-shadow(1px,1px,5px);
	
}

@mixin border-radius($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}




/* UNIVERSAL */

body{
	padding-top: 60px;
}
h1,h2,h3,h4,h5,h6 { line-height: 1;}


h2{
	color: $grayLight;
	font-weight: normal;
	margin-bottom: 30px;
}

p {font-size: 1em;}

html {
	overflow-y: scroll;
}


.center{
	text-align: center;


	h1 {
		margin-bottom: 10px;
	}
}

.center h2 {
	font-size: 1em;
	
}


/* CUSTOM */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: $white;
	letter-spacing: 0.1em;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover{
		color: $blue;
		text-decoration: none;
	}
}


/* Footer */
.footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $gray;

	a { color: $gray;
		&:hover {color: $grayDarker;}
	}
	ul {float:right; list-style: none;
		li{
			float:left;
			margin-left: 10px;
		}
	}
}


/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}


.gravatar{
	float:left;
	margin-right: 10px;
	height:100%;
	@extend .img-polaroid;
	min-width:50px;
	min-height:50px;
	display:block;
}

/* Forms */

input, textarea, select , .uneditable-input {
	border: 1px solid #bbb; 
	width: 100%;
	padding: 10px;
	margin-bottom:15px;
	@include box_sizing;
}

input {height: auto !important;}

#error_explanation {
	color: red;
	margin-top: 32px;
	ul{
		list-style: no ne;
		margin: 0 0 3px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

//SHOW USERS
.users {
	margin-top:40px;
	th , td{
		text-align: center;
	}


}

h1.user-name-info{
	font-size:1.2em;
	margin-bottom: 7px;	
}

.user-profile-link{
	display:block;
}

.user-profile-count{
	color: $gray;
}
//  MICROPOSTS

#no-posts{
	margin-top: 20px;
}

.microposts
{
	list-style: none;
	margin-top: 10px;
	margin-left: 0;
	
	li {
		padding: 8px 3px 5px 10px;
		margin: 5px 0 0 0;
		background-color: rgb(247, 247, 247);
		border: 1px solid $grayLighter;
		position: relative;

		.delete-feed-item{
			position: absolute;
			right:0;
			top: -6px;
			
		}
		
		
		.feed-textual-part{
			margin-left: 70px;
			position:relative;
		}
		.user {
			font-weight: bold;
		}


		.content {
			display:block;
			color: $grayDarker;
			font-family: $serifFontFamily;
			font-size: $baseFontSize + 0;
			
			word-wrap: break-word;
		}

		.timestamp {
			float:right;
			color: $blue;
			font-size: $baseFontSize - 2;
			background-color: white;
			border: 1px solid $grayLighter;

			padding: 3px;
			margin-right: -8px;
			
			position:relative;
			max-width: 40%;
			white-space: no-wrap;
			
			@include drop-shadow(-1px,0,1px);
			@include drop-shadow(0,1px,1px);

			&:after{
				content: "";
				width: 0; 
				height: 0; 
				border-left: 2px solid transparent;
				border-right: 2px solid transparent;

				border-bottom: 2px solid black;
				position:relative;
				right: 0;
				bottom:-2px;

				position: absolute;
				@include rotate(-45deg);
			}
		}
	}
}



.micropost-textbox{
	position:relative;

	#char-counter {
		position: absolute;
		bottom: 40px;
		right: 10px;
		color: $veryLightGray;
		font-size: 49pt;
	}

	textarea {
		margin-top: 20px;
		width:100%;
		height: 200px;
		position: relative;
		
		.char-counter {
			
			position: absolute;
			bottom:0;
			right:0;
		}
	}
}

/* sidebar */
.stats{
	background-color: $veryLightGray;
	border: 1px solid #eeeeee;
	padding: 5px 8px;
	margin-top:10px;

	@include border-radius(10px);
	a{
		font-style: italic;
		padding: 5px 10px;
		display: block;


		&:first-child{

			border-bottom: 1px solid $grayLighter;

		}

		&:hover {
			text-decoration: none;
			color: $blue;
			background-color: darken($veryLightGray, 5%);
		}
	}
}

// FOLLOWERS - FOLLOWING
.users-list {
	
	list-style-type: none;
	margin: 10px 0;

	li{
		
		padding: 10px 0;
		
		border-top: 1px dashed $grayLighter;
		margin: 5px 0;


		h1 {margin-top: 0;}

		&:first-child
		{ border-top: none;
		}

		&:after{ 
			@extend .clearfix;
		}

		
	}

}

#avatars-container{
	width:99%;

}
.user-avatars {
	margin: 30px 15px;
	.gravatar {
		width: auto;
		min-width:24px;

		height: auto;
		min-height:24px;
		padding: 1px;
	}
}




