@import "bootstrap";

/************* $VARIABLES */
$grayMediumLight: #eaeaea;
/************* $mixins */
@mixin box_sizing{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin drop-shadow{
	-webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.7);
		-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.7);
		box-shadow:0 1px 5px rgba(0, 0, 0, 0.7);	
}


.drop-shadow {
	position:relative;
	width:90%;
	@include drop-shadow;

	
}





/* UNIVERSAL */

body{
	padding-top: 60px;
}
h1,h2,h3,h4,h5,h6 { line-height: 1;}


h2{
	color: $grayLight;
	font-weight: normal;
	margin-bottom: 30px;
}

p {font-size: 1em;}

html {
	overflow-y: scroll;
}


.center{
	text-align: center;


	h1 {
		margin-bottom: 10px;
	}
}

.center h2 {
	font-size: 1em;
	
}


/* CUSTOM */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: $white;
	letter-spacing: 0.1em;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover{
		color: $blue;
		text-decoration: none;
	}
}


/* Footer */
.footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $gray;

	a { color: $gray;
		&:hover {color: $grayDarker;}
	}
	ul {float:right; list-style: none;
		li{
			float:left;
			margin-left: 10px;
		}
	}
}


/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}


.gravatar{
	float:left;
	margin-right: 10px;
	height:100%;
	@extend .img-polaroid;
}

/* Forms */

input, textarea, select , .uneditable-input {
	border: 1px solid #bbb; 
	width: 100%;
	padding: 10px;
	margin-bottom:15px;
	@include box_sizing;
}

input {height: auto !important;}

#error_explanation {
	color: red;
	margin-top: 32px;
	ul{
		list-style: no ne;
		margin: 0 0 3px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

//SHOW USERS
.users {
	margin-top:40px;
	th , td{
		text-align: center;
	}


}

h1.user-name-info{
	font-size:1.2em;	
}

.user-profile-link{
display:block;
}

.user-profile-count{
	color: $gray;
}
//  MICROPOSTS

#no-posts{
	margin-top: 20px;
}

.microposts
{
	list-style: none;
	margin-top: 10px;
	margin-left: 0;
	
	li {
		padding: 10px 3px 5px 10px;
		margin: 5px 0 0 0;
		background-color: rgb(247, 247, 247);
		border: 1px solid $grayLighter;
		
		
		.feed-textual-part{
			margin-left: 70px;
			position:relative;
		}
		.user {
			font-weight: bold;
		}


		.content {
			display:block;
			color: $grayDarker;
			font-family: $serifFontFamily;
			font-size: $baseFontSize + 0;
			
			word-wrap: break-word;
		}

		.timestamp {
			float:right;
			color: $blue;
			font-size: $baseFontSize - 2;
			background-color: white;
			border: 1px solid $grayLighter;

			padding: 3px;
			margin-right: -8px;
		}
	}
}



.new_micropost{
	textarea {
		margin-top: 30px;
		width:100%;
		height: 200px;
	}
}

